@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #6c7a89;
}

a {
  text-decoration: none;
  color: #2a2f36;
  font-weight: 600;
  transition: all .15s ease-in-out;
  padding: 0;
}

a:hover {
  color: #ee983d;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

ul:first-child {
  margin-top: 0;
}

footer, header, section {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

h2 a {
  font-weight: 600;
}

.single h2 p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -.02em;
  font-family: Nunito,sans-serif;
  color: #2a2f36;
}

h2:first-child {
  margin-top: 0;
}

.active {
  text-decoration: 2px underline;
}

.header {
  display: block;
  text-align: center;
  padding-top: 80px;
}

.header-wrapper {
  padding: 0 140px;
  position: relative;
  margin: 0 auto;
}

.header-avatar {
  display: block;
  margin: 0 auto 20px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 100%;
  overflow: hidden;
}

.header-avatar-img {
  box-sizing: border-box;
  max-width: 100%;
}

.header-avatar:hover {
  box-shadow: 0 0 20px #2a2f36;
  border: 5px
}

.header-title {
  font-weight: 600;
  letter-spacing: 0;
  font-size: 40px;
  line-height: 40px;
  line-height: 1;
  color: #2a2f36;
}

.header-tagline {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  font-style: normal;
  color: #6c7a89;
}

.header-menu {
  margin-top: 15px;
}

.header-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-list-item {
  padding: 0 12px;
  display: inline-block;
}

.header-menu-list-link {
  font-size: 20px;
  font-weight: 600;
  color: #2a2f36;
  border-bottom: 2px solid;
}

.page .page-content {
  float: left;
  clear: both;
  width: 100%;
}

.page {
  transition: all .6s cubic-bezier(.87,-.41,.19,1.44);
}

.single {
  padding: 80px 0;
}

section {
  display: block;
}

.wrap {
  padding: 0 140px;
  position: relative;
  margin: 0 auto;
}

.wrap-music {
  display: grid;
  padding: 0 120px;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
}

.wrap-about {
  display: grid;
  padding: 0 120px;
  margin: 0 auto;
  text-align: center;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
}

.wrap-about .listining-post {
  transition: all .15s ease-in-out;
  width: 350px;
  height: 500px;
  border-style:none;
  background-color: #0850bd09;
  border-radius: 5%;
  box-shadow: 5px 5px 20px #c5daf8;
}

.wrap-about .listining-post h2 {
  margin-top: 15px;
}

.wrap-about .listining-post:hover{
  box-shadow: 5px 5px 20px #2a2f36;
}

.wrap-about .listining-post ul {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrap-about .listining-post ul li {
    margin-top: 10px;
}

.about-me ul {
  list-style:disc;
  list-style-position: inside;
  text-align: left;
}

.cv {
  margin-top: 10px;
  padding: 15px;
}


article {
  display: block;
}

.listining-post {
  margin-top: 20px;
}
.listining-post-header {
  text-align: center;
}

.listining-post-subtitle {
  margin-top: 5px;
  color: #abb7b7;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

.listining-post-image {
  margin-top: 40px;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.listining-post-content {
  margin-top: 40px;
}

.listining-post-content p .button {
  margin-top: 10px;
}

.single p a {
  font-weight: 600;
  border-bottom: 2px solid #ee983d;
}

p {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

.button {
  display: inline-block;
  line-height: 1;
  border: 2px solid #ee983d;
  padding: 9px 10px 10px;
  font-size: 13px;
  border-radius: 3px;
  background: #ee983d;
  color: #fff;
  letter-spacing: 0;
  cursor: pointer;
}


.footer {
  padding: 80px 0;
  transition: all .6s cubic-bezier(.87,-.41,.19,1.44);
  text-align: center;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  display: block;
}

.footer-copyright {
  margin-top: 20px;
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #abb7b7;
}


@media only screen and (max-width: 600px) {
  .header {
    padding-top: 30px;
  }

  .header-wrapper {
    padding: 0 20px;
  }

  .header-avatar {
    width: 100px;
  }

  .header-title {
    font-size: 25px;
  }

  .header-tagline {
    font-size: 15px;
  }

  .header-menu {
    margin-top: 15px;
  }

  .header-menu-list-link {
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }

  .single {
    padding: 20px 0;
  }

  .wrap {
    padding: 0 20px;
  }

  .listining-post-subtitle {
    font-size: 15px;
  }

  .listining-post-image {
    margin-top: 10px;
  }

  .listining-post-content {
    margin-top: 10px;
  }

  .listining-post-content p .button {
    margin-top: 10px;
  }

  p {
    font-size: 15px;
  }

  .wrap-music {
    display: block;
    padding: 0 5px;
  }

  .wrap-about {
    display: block;
    padding: 0 5px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }

  .wrap-about .listining-post {
    box-sizing: content-box;
    width: auto;
    height: auto;
  }

  .wrap-about .listining-post h2 {
    padding-top: 15px;
  }

  .wrap-about .listining-post:hover{
    box-shadow: 5px 5px 20px #2a2f36;
  }

  .wrap-about .listining-post ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .wrap-about .listining-post ul li {
      margin-top: 10px;
  }

  .about-me ul {
    list-style:disc;
    list-style-position: inside;
    text-align: left;
  }

  .cv {
    margin-top: 10px;
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .wrap-music {
    grid-template-columns: repeat(2, 380px);
  }

  .wrap-about {
    display: block;
  }

  .wrap-about .listining-post h2 {
    padding-top: 15px;
  }

  .wrap-about .listining-post {
    box-sizing: content-box;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .wrap-music {
    grid-template-columns: repeat(2, 380px);
  }

  .wrap-about {
    grid-template-columns: repeat(2, 380px);
  }
}

@media only screen and (max-width: 1200px) {

}

@media screen and (width: 1920px ) {
  .wrap-music {
    grid-template-columns: repeat(4, 380px);
  }
}
